* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(97, 94, 94);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 20px;
}

body {
  background-color: whitesmoke;
}

.row {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
}

.score_head {
  display: flex;
  justify-content: space-between;
}

.score {
  width: 100%;
}

.score_details {
  width: 100%;
  border: 1px solid rgb(97, 94, 94);
  box-shadow: -4px -3px 45px 21px rgba(75, 73, 73, 0.35);
  margin-top: 10px;
  padding: 0;
}

.odd {
  background-color: rgb(97, 94, 94);
  color: white;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

.even {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

.container {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 10px;
}

.add_score {
  width: 100%;
}

input {
  width: 100%;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .row {
    display: flex;
    flex-direction: row;
  }

  .score {
    width: 50%;
  }

  .add_score {
    width: 30%;
  }
}
